<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booklendingsystem.admin.mapper.CategoryMapper">
<resultMap id="Category" type="com.booklendingsystem.admin.entity.Category">
    <result column="id" property="categoryId"/>
    <result column="category_name" property="categoryName"/>
    <result column="parent_id" property="parentId"/>
    <result column="level" property="level"/>
    <result column="keywords" property="keywords"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="is_delete" property="isDelete"/>
</resultMap>
    <select id="getLevelCategories" resultType="com.booklendingsystem.admin.entity.Category" parameterType="int">
        select * from books_category where level=#{level};
    </select>
    <select id="getSubCategories" resultType="com.booklendingsystem.admin.entity.Category" parameterType="long">
        select * from books_category where parent_id = #{parentId};
    </select>
</mapper>
